//////////////////////////FONTS////////////////////

$fontFamily: 'Roboto',
sans-serif;
$headerFOntFamily: 'Lobster',
cursive;

//////////////////////////   COLORS////////////////////

$mainInfoTextColor: rgb(255, 255, 255);